<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yichan.gaotezhipei">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_gaote"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity android:name=".trainservice.activity.TrainServiceActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".enterpriseservice.activity.EnterpriseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".enterpriseservice.activity.LicenseActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".enterpriseservice.activity.TaxServiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".enterpriseservice.activity.IpAcvitiy"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".finaceservice.activity.FinaceServiceActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".finaceservice.activity.DribeltAssureActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".finaceservice.activity.VentureActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".finaceservice.activity.VentureApplyActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".policyadvice.activity.PolicyAdviceActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".hatchservice.activity.HatchServiceActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".hatchservice.activity.EmploymentActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".hatchservice.activity.EntrepreneurialActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".hatchservice.activity.ArtDesignActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".hatchservice.activity.HatchProjectActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".productservice.activity.ProductServiceActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".hatchservice.activity.HatchIntroActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".productservice.activity.GaoteShopActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".productservice.activity.BrandGrowActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".gaoteintro.activity.GaoteIntroActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".gaoteintro.activity.GaoteAboutActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".gaoteintro.activity.GaoteContactActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".gaoteintro.activity.GaoteProvideActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".gaoteintro.activity.GaoteCooperateActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".agriculturalservice.activity.AgriculturalServiceActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".logistics.activity.ExpressSearchActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".logistics.activity.LCLOrderActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".mine.activity.AddressMangeActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".mine.activity.AddAddressActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".mine.activity.SettingActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".mine.activity.MessageSettingActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".mine.activity.AboutUsActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".mine.activity.BecomeLCLDriverActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".mine.activity.ChooseCarTypeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".logistics.activity.LogisticOrderActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".mine.activity.MyMessageActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".login.activity.DemandLoginActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".login.activity.ServerLoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".enterpriseservice.activity.ComissionActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".mine.activity.FeedbackActivity"
            android:screenOrientation="portrait"></activity>

        <!-->*****************服务方【服务网点】*****************<-->

        <activity android:name=".server.netstation.activity.NetMainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".server.netstation.activity.ExpressRecordActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".server.netstation.activity.NewExpressActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".server.netstation.activity.ExpressToConfirmActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".hatchservice.activity.HatchApplyActivity"
            android:screenOrientation="portrait"></activity>

        <!-->*****************服务方【拼货司机】*****************<-->

        <activity android:name=".server.lcldriver.activity.LCLDriverMainActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".server.lcldriver.activity.DriverInformActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".server.lcldriver.activity.LCLDriverOrderActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".server.lcldriver.activity.NearbyCargoActivity"
            android:screenOrientation="portrait"></activity>



    </application>

</manifest>